Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_atotuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_dis_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pdomuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pelecuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pirruse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pliveuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pmanuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_nowatermgt_dis_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_nowatermgt_qtot_global_monthly_1901_2019.nc
__pycache__/AWARE_CF_equation.cpython-311.pyc
__pycache__/AWARE_data_import.cpython-311.pyc
__pycache__/AWARE_data.cpython-311.pyc
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist
Output/AWARE_equation
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_cons
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_dis
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_EFR
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_EWR
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_external_cons
Output/AWARE_DB_GHM_WG22e_GCM_gswp3-w5e5_SCE_hist_parts/separate_runoff
