Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_atotuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_dis_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pdomuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pelecuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pirruse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pliveuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_default_pmanuse_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_nowatermgt_dis_global_monthly_1901_2019.nc
Input/watergap2-2e_gswp3-w5e5_obsclim_histsoc_nowatermgt_qtot_global_monthly_1901_2019.nc
